.g-signin-btn {
    background: url("/assets/btn_google_signin.png");
    background-size: 191px 46px;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 191px;
    height: 46px;
}

.mat-button:hover .mat-button-focus-overlay {
    opacity: 0.2 !important;
}