<md-toolbar color="primary">
  <div [routerLink]="['/']">
    <span class="arha-title">Arha</span>
  </div>
  <span class="fill-space"></span>
  <div class="arha-sidenav-hb" (click)="sidenav.toggle()">
    <span>
    </span>
  </div>
</md-toolbar>

<md-sidenav-container class="arha-container">

  <md-sidenav #sidenav class="arha-sidenav" align="end">
    <div class="arha-user row" *ngIf="(authState | async)?.uid">
      <div class="cell">
        <img class="photo" src="{{ (authState | async)?.photoURL }}">
      </div>
      <div class="cell">
        <span class="name">{{ (authState | async)?.displayName }}</span>
        <a class="sign-out" (click)="logout()">
          <i class="material-icons">directions_walk</i>&nbsp;Sign out
        </a>
      </div>
    </div>

    <md-nav-list (click)="sidenav.toggle()">
      <md-list-item class="arha-sidenav-content" [routerLink]="['/home']">
        <a><i class="material-icons">dashboard</i> &nbsp;Home</a>
      </md-list-item>
      <md-list-item class="arha-sidenav-content" [routerLink]="['/tips']">
        <a><i class="material-icons">bubble_chart</i> &nbsp;Tips</a>
      </md-list-item>
      <md-list-item class="arha-sidenav-content" [routerLink]="['/about']">
        <a><i class="material-icons">face</i> &nbsp;About</a>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>

  <div clas="arha-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>