<md-toolbar color="primary">
  <div>
    <span class="arha-title">Arha</span>
  </div>
  <span class="fill-space"></span>
  <div class="arha-sidenav-hb" (click)="sidenav.toggle()">
    <span>
    </span>
  </div>
</md-toolbar>

<md-sidenav-container class="arha-container">

  <md-sidenav #sidenav class="arha-sidenav" align="end">
    <md-nav-list>
      <md-list-item class="arha-sidenav-content">
        <a href="#"><i class="material-icons">dashboard</i> &nbsp;Home</a>
      </md-list-item>
      <md-list-item class="arha-sidenav-content">
        <a href="#"><i class="material-icons">bubble_chart</i> &nbsp;Tips</a>
      </md-list-item>
      <md-list-item class="arha-sidenav-content">
        <a href="#"><i class="material-icons">face</i> &nbsp;About</a>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>

  <!--<div>
    <div #root="$implicit">
      <router-outlet></router-outlet>
    </div>
  </div>-->

</md-sidenav-container>