/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand');

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    margin: 0;
    /*background: url("/assets/arha_bg.png");*/
    background: #F5F5F6;
}

.mat-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content {
    font-family: 'Quicksand', sans-serif !important;
}
.mat-sidenav-content {
    width: 100% !important;
}

snack-bar-container {
    background: #673AB7 !important;
}

:focus {
    outline: none !important;
}

arha {
 
}