/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand');

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    margin: 0;
}

.arha-title {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}