<md-card class="calories-card">
    <md-card-header>
        <div md-card-avatar class="calories-header-image"></div>
        <md-card-title>Calories</md-card-title>
        <md-card-subtitle></md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <div *ngIf="fitDataStore['com.google.calories.expended']">
            <md-progress-bar color="Primary" mode="buffer" value="{{fitDataStore['com.google.calories.expended'].percentage}}"
                bufferValue="0">
            </md-progress-bar>
            <p>
                {{fitDataStore['com.google.calories.expended'].count}} of 2200
            </p>
        </div>
    </md-card-content>
</md-card>