<md-card class="distance-card">
    <md-card-header>
        <div md-card-avatar class="distance-header-image"></div>
        <md-card-title>Distance</md-card-title>
        <md-card-subtitle></md-card-subtitle>
    </md-card-header>
    <md-card-content>

        <div *ngIf="fitDataStore['com.google.distance.delta']">
            <md-progress-bar class="example-margin" color="Primary" mode="buffer" value="{{fitDataStore['com.google.distance.delta'].percentage}}"
                bufferValue="0">
            </md-progress-bar>
            <p>
                {{fitDataStore['com.google.distance.delta'].count}} of 8 KM
            </p>
        </div>

    </md-card-content>
</md-card>