<md-card class="sleep-card">
    <md-card-header>
        <div md-card-avatar class="sleep-header-image"></div>
        <md-card-title>Sleep</md-card-title>
        <md-card-subtitle></md-card-subtitle>
    </md-card-header>
    <md-card-content>

        <div *ngIf="fitDataStore['Deep sleep'] && fitDataStore['Light sleep']">
            <md-progress-bar color="Primary" mode="buffer" value="{{fitDataStore['Deep sleep'].percentage}}"
            bufferValue="{{fitDataStore['Light sleep'].percentage + fitDataStore['Deep sleep'].percentage}}">
            </md-progress-bar>
            <p>
                Deep : {{fitDataStore['Deep sleep'].count }} Hrs | Light : {{fitDataStore['Light sleep'].count }} Hrs
            </p>
        </div>

    </md-card-content>
</md-card>