<md-card class="steps-card">
  <md-card-header>
    <div md-card-avatar class="steps-header-image"></div>
    <md-card-title>Steps</md-card-title>
    <md-card-subtitle></md-card-subtitle>
  </md-card-header>
  <md-card-content>

    <div *ngIf="fitDataStore['com.google.step_count.delta']">
      <md-progress-bar class="example-margin" color="Primary" mode="buffer" value="{{fitDataStore['com.google.step_count.delta'].percentage}}"
        bufferValue="0">
      </md-progress-bar>
      <p>
        {{fitDataStore['com.google.step_count.delta'].count}} of 10000
      </p>
    </div>

  </md-card-content>
</md-card>