.arha-login {
    display: flex;
    min-height: 550px;
    width:100%;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}

.arha-grid {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: minmax(200px, auto);;
    margin: 5px;
}

.arha-card {
    border: 0.1px solid #ccc;
    background-color: #fff;
    padding: 10px;
}

.arha-card.sleep {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.arha-card.activity {
    grid-column-start: 2;
    grid-column-end: 4;
}