<arha-login class="arha-login" *ngIf="!(authState | async)?.uid"></arha-login>
<div class="arha-grid" *ngIf="(authState | async)?.uid">

  <div class="arha-card steps">
    <arha-fit-steps></arha-fit-steps>
  </div>

  <div class="arha-card distance">
    <arha-fit-distance></arha-fit-distance>
  </div>

  <div class="arha-card calories">
    <arha-fit-calories></arha-fit-calories>
  </div>


  <div class="arha-card sleep">
    <arha-fit-sleep></arha-fit-sleep>
  </div>


  <div class="arha-card activity">
    <md-card class="activity-card">
      <md-card-header>
        <div md-card-avatar class="activity-header-image"></div>
        <md-card-title>Activity</md-card-title>
        <md-card-subtitle></md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <div #chart></div>
      </md-card-content>
    </md-card>
  </div>


</div>