.arha-login {
    display: flex;
    min-height: 550px;
    width:100%;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}

.arha-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);;
    margin: 5px;
}

.arha-card {
    border: 0.1px solid #ccc;
    background-color: #fff;
    padding: 10px;
}