<arha-login class="arha-login" *ngIf="!(authState | async)?.uid"></arha-login>
<div class="arha-grid" *ngIf="(authState | async)?.uid">

  <div class="arha-card steps">
    <arha-fit-steps></arha-fit-steps>
  </div>

  <div class="arha-card distance">
    <arha-fit-distance></arha-fit-distance>
  </div>

  <div class="arha-card calories">
    <arha-fit-calories></arha-fit-calories>
  </div>


  <div class="arha-card sleep">
    <md-card class="sleep-card">
      <md-card-header>
        <div md-card-avatar class="sleep-header-image"></div>
        <md-card-title>Sleep</md-card-title>
        <md-card-subtitle></md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p *ngIf="fitDataStore['Deep sleep']">
          Deep Sleep : {{(fitDataStore['Deep sleep'].count / (3600*1000)).toFixed(2)}} Hrs
        </p>
        <p *ngIf="fitDataStore['Light sleep']">
          Light Sleep : {{(fitDataStore['Light sleep'].count / (3600*1000)).toFixed(2)}} Hrs
        </p>
      </md-card-content>
    </md-card>
  </div>


  <div class="arha-card activity">
    <md-card class="activity-card">
      <md-card-header>
        <div md-card-avatar class="activity-header-image"></div>
        <md-card-title>Activity</md-card-title>
        <md-card-subtitle></md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <div #chart></div>
      </md-card-content>
    </md-card>
  </div>


</div>